{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

 <section class="banniere" id="benniere">
    <div class="contenu">
    <h2>Le Quai Entique</h2>
    
    <a href="{{ path('app_menu') }}" class="btn1">NOS MENUS</a>  
    <a href="{{ path('app_reservation') }}" class="btn2">Reservation</a>
    </div>
</section>

     <br>
     <br>
     <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center text-body mb-5">Bienvenue au Quai Antique</h2>
                 <p>Venez découvrir la cuisine du chef Arnaud Michant, dans un cadre intimiste et chaleureux au bors de l'eau en Bretagne 
                 à travers une cuisine sans artifices, pour vivre une expérience gastronomique unique au monde .</p>
            </div>
     
      
   
           

<div class="row m-5">
            {{ render(path('app_picture')) }}
        </div>


{% endblock %}
