{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

 <section class="banniere" id="benniere">
    <div class="contenu">
    <h2>Le Quai Entique</h2>
    <h3>Bienvenue au Quai Antique</h3>
    <p>Venez découvrir la cuisine du chef Arnaud Michant, dans un cadre intimiste et chaleureux au bors de l'eau en Bretagne.</p>
    <a href="{{ path('app_menu') }}" class="btn1">NOS MENUS</a>  
    <a href="{{ path('app_reservation') }}" class="btn2">Reservation</a>
    </div>
</section>

<div class="row m-5">
            {{ render(path('app_picture')) }}
        </div>


{% endblock %}
